---
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar/Navbar.astro";
import Social from "../../components/Social.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../posts/*.md");
  return posts.map((post) => {
    return {
      params: {
        post: post.frontmatter.slug,
      },
      props: {
        post,
      },
    };
  });
}
const { post } = Astro.props;
const { Content } = post;
---

<Layout
  title={"josesaranda | " + post.frontmatter.title}
  description={post.frontmatter.description}
>
  <main>
    <Navbar showLanguageButton={false} />
    <div class="post">
      <h1>{post.frontmatter.title}</h1>
      <Content />
    </div>
    <Social />
    <Footer />
  </main>
</Layout>
