---
import Footer from "@components/layout/Footer.astro";
import Navbar from "@components/layout/Navbar/Navbar.astro";
import Social from "@components/sections/Social.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => {
    return {
      params: {
        post: post.slug,
      },
      props: {
        post,
      },
    };
  });
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={"josesaranda | " + post.data.title}
  description={post.data.description}
>
  <main>
    <Navbar showLanguageButton={false} />
    <div class="post">
      <h1>{post.data.title}</h1>
      <Content />
    </div>
    <Social />
    <Footer />
  </main>
</Layout>
