---
import Footer from "@components/layout/Footer/Footer.astro";
import Navbar from "@components/layout/Navbar/Navbar.astro";
import Social from "@components/sections/Social/Social.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import "./post.scss";
import { Progress } from "@components/ui/Progress/Progress";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => {
    return {
      params: {
        post: post.slug,
      },
      props: {
        post,
      },
    };
  });
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={"josesaranda | " + post.data.title}
  description={post.data.description}
>
  <Progress client:only />
  <main>
    <Navbar
      showLanguageButton={false}
      showLogo="true"
      title={post.data.title}
    />
    <div class="post">
      <div class="image-container text-center">
        <img src={post.data.image} width="100%" alt="" />
      </div>
      <Content />
    </div>
    <Social />
  </main>
  <Footer />
</Layout>
