.post {
  .post-image-container {
    margin: var(--spacing-8) auto;

    &.with-tags {
      margin-bottom: var(--spacing-1);
    }
    
    img {
      border-radius: 10px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: var(--spacing-2);
    font-size: var(--font-0);
    line-height: 32px;
    color: var(--c-primary-100);
  }

  strong {
    color: var(--c-primary-300);
  }

  h1 {
    margin: var(--spacing-6) 0;
    font-size: var(--font-5);
    color: var(--c-secondary);
  }

  h2 {
    margin: var(--spacing-5) 0;
    font-size: var(--font-2);
    color: var(--c-secondary);
  }

  h3 {
    font-size: var(--font-1);
    margin: var(--spacing-6) 0;
    color: var(--c-secondary)
  }

  h4 {
    font-size: var(--font-1);
    margin-bottom: var(--spacing-0);
    color: var(--c-primary-50);
  }

  h5 {
    font-size: var(--font-0);
    margin-top: 0px;
    margin-bottom: var(--spacing-0);
    color: var(--c-primary-100);
  }

  ul {
    margin-bottom: var(--spacing-3);
    margin-left: var(--spacing-7);
    color: var(--c-primary-100);

    li {
      font-size: var(--font-0);
      margin-bottom: var(--spacing-1);
    }
  }

  pre {
    border-radius: 10px;
    padding: var(--spacing-3);
    margin-bottom: var(--spacing-3);
  }

  .post-tags {
    text-align: right;
    margin-bottom: var(--spacing-6);
    
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .post-tag {
    margin-bottom: var(--spacing-1);
    font-size: var(--font-0);

    &:not(:last-child) {
      margin-right: var(--spacing-1);
    }
  }
}