@import "@habitatcss/fonts.scss";

.post {
  .post-image-container {
    margin: var(--spacing-9) auto;

    &.with-tags {
      margin-bottom: var(--spacing-2);
    }
    
    img {
      border-radius: 10px;
    }
  }

  p {
    @extend .paragraph;
  }

  strong {
    color: var(--c-primary-300);
  }

  h1 {
    @extend .heading-1;
    margin: var(--spacing-7) 0;
    color: var(--c-secondary);
  }

  h2 {
    @extend .heading-2;
    margin: var(--spacing-6) 0;
    color: var(--c-secondary);
  }

  h3 {
    @extend .heading-3;
    margin: var(--spacing-7) 0;
    color: var(--c-secondary)
  }

  h4 {
    @extend .heading-4;
    margin-bottom: var(--spacing-1);
    color: var(--c-primary-50);
  }

  h5 {
    @extend .heading-5;
    margin-top: 0px;
    margin-bottom: var(--spacing-1);
    color: var(--c-primary-100);
  }

  ul {
    margin-bottom: var(--spacing-4);
    margin-left: var(--spacing-8);
    color: var(--c-primary-100);

    li {
      font-size: var(--font-0);
      margin-bottom: var(--spacing-2);
    }
  }

  pre {
    border-radius: 10px;
    padding: var(--spacing-4);
    margin-bottom: var(--spacing-4);
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  .post-tags {
    text-align: right;
    margin-bottom: var(--spacing-7);
    
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .post-tag {
    margin-bottom: var(--spacing-2);
    font-size: var(--font-0);

    &:not(:last-child) {
      margin-right: var(--spacing-2);
    }
  }

  .time {
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}