.post-progress-container {
  position: fixed;
  height: 6px;
  opacity: 0;
  top: 0;
  width: 100%;
  background: var(--c-primary-800);
  transition: .3s all;
  z-index: 2;

  @media (max-width: 768px) {
    bottom: 0;
    top: auto;
  }
}

.post-progress {
  position: relative;
  height: 6px;
  width: 0;
  background: var(--c-secondary);
}