.experience {
  div {
    padding: var(--spacing-2);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);

    &:not(:last-child) {
      border-bottom: 1px dotted var(--c-primary);
    }
  }

  h5.dates {
    color: var(--c-primary-50);
  }

  p.description {
    color: var(--c-primary-100);
    margin-bottom: var(--spacing-0);
  }

  p.technologies {
    color: var(--c-primary-300);
  }

  .icon-experience {
    background: var(--c-secondary);
  }
}