---
import { getExperiences } from "@services/experiences.service";
import { t } from "i18next";
import "./Experience.scss";
const experiences = getExperiences();
---

<section class="experience">
  <h3 class="heading-3">
    <span class="icon icon-medium icon-experience"></span>
    {t("experience.title")}
  </h3>
  <p class="paragraph text-justify">
    {t("experience.paragraph1")}
  </p>
  {
    experiences.map((experience) => {
      return (
        <div>
          <h4
            class="heading-4"
            set:html={t(`experience.experiences.${experience}.title`)}
          />
          <h5 class="heading-5 dates">
            {t(`experience.experiences.${experience}.dates`)}
          </h5>
          <p class="paragraph text-justify description">
            {t(`experience.experiences.${experience}.description`)}
          </p>
          <p class="paragraph text-jusify technologies">
            <strong>{t(`dictionary.technologies`)}:</strong>
            {t(`experience.experiences.${experience}.technologies`)}
          </p>
        </div>
      );
    })
  }
</section>
