---
import { Trans } from "astro-i18next/components";
import i18next, { t } from "i18next";
import { getLastCommit } from "@services/github.service";

const { date, url } = await getLastCommit();
---

<footer>
  <div>
    <Trans i18nKey="footer.title">
      <span id="love"></span>
    </Trans>
  </div>
  <a href={url} target="_blank">
    <strong>{t("footer.date")}:</strong>
    <time datetime={date.toISOString()}
      >{date.toLocaleDateString(i18next.language)} -
      {date.toLocaleTimeString(i18next.language)}</time
    >
  </a>
</footer>
<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-2);
    font-size: var(--font-0);
  }

  @media (max-width: 768px) {
    footer {
      flex-direction: column-reverse;
    }
  }

  a:hover {
    transform: scale(1) !important;
  }
</style>
