---
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
---

<section>
  <header class="header">
    <img src="/images/profile.jpeg" alt={t("greeting.picture")} />
    <div class="greeting">
      <h1>{t("greeting.title")}</h1>
      <h2>{t("greeting.name")}</h2>
      <h3>{t("greeting.position")}</h3>
    </div>
  </header>
  <p class="text-justify">
    <Trans i18nKey="greeting.paragraph1">
      <a href="https://fortris.com" target="_blank"></a>
    </Trans>
  </p>
  <p class="text-justify">
    {t("greeting.paragraph2")}
  </p>
  <p class="text-justify">
    <Trans i18nKey="greeting.paragraph3">
      <a href="https://astro.build/" target="_blank"></a><a
        href="https://astro.build/"
        target="_blank"></a><a
        href="https://github.com/josesaranda/josesaranda"
        target="_blank"></a>
    </Trans>
  </p>
</section>
<style>
  section {
    margin-top: var(--spacing-4) !important;
  }
  header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-direction: row;
    margin-bottom: var(--spacing-3);
  }

  @media (max-width: 768px) {
    header {
      flex-direction: column;
    }
  }

  img {
    width: 200px;
    border-radius: 10px;
    margin-right: var(--spacing-7);
    margin-bottom: var(--spacing-4);
    -webkit-box-shadow: 0px 0px 20px 0px var(--c-secondary);
    -moz-box-shadow: 0px 0px 20px 0px var(--c-secondary);
    box-shadow: 0px 0px 20px 0px var(--c-secondary);
  }

  @media (max-width: 768px) {
    img {
      margin-right: 0;
    }
  }
</style>
