.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  gap: var(--spacing-2);
  border: 2px solid var(--c-primary-800);
  transition: 0.3s all;

  &:hover {
    background: var(--c-primary-800);
    transition: 0.3s all;
  }

  .card-image {
    border-radius: 10px;
    height: 72px;
    width: auto;
  }

  .card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
    margin-right: var(--spacing-2);
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: var(--spacing-4);

    .card-image {
      width: 100%;
      height: auto;
    }

    .card-info {
      margin-top: 0;
      margin-bottom: var(--spacing-2);
    }

    .card-title {
      font-size: var(--font-2);
    }
  }
}