@use "sass:list";

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin toBreakpoints($class, $property, $value) {
  @for $i from 1 to length($breakpoints) + 1 {
    $breakpoint : nth($breakpoints, $i);
    $bpname : nth($breakpoint, 1);
    $bpvalue : nth($breakpoint, 2);

    @if $i < length($breakpoints) {
      $next-breakpoint : nth($breakpoints, $i + 1);
      $max-width: nth($next-breakpoint, 2);

      @media (min-width: $bpvalue) and (max-width: $max-width){
        .#{$bpname}\:#{$class} {
          #{$property}: $value;
        }
      }
    } @else {
      @media (min-width: $bpvalue) {
        .#{$bpname}\:#{$class} {
          #{$property}: $value;
        }
      }
    }
  }

  .#{$class} {
    #{$property}: $value;
  }
}