---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <section
    class="max-w-screen-2xl mx-auto px-4 py-32 lg:py-64 text-center lg:text-left"
  >
    <p
      class="text-gray-800 text-3xl lg:text-6xl font-sans lg:!leading-tight mb-6"
    >
      Everyone make mistakes but you just made a big one. The page you are
      looking for doesn't exist.
    </p>
    <p
      class="text-gray-500 text-2xl lg:text-5xl font-serif lg:!leading-snug italic"
    >
      Come on back to the <a href="/" class="text-blue-500 underline"
        >home page</a
      > and try again.
    </p>
  </section>
</Layout>
