---
import Footer from "@components/layout/Footer/Footer.astro";
import Navbar from "@components/layout/Navbar/Navbar.astro";
import Experience from "@components/sections/Experience/Experience.astro";
import Greeting from "@components/sections/Greeting/Greeting.astro";
import Social from "@components/sections/Social/Social.astro";
import Technologies from "@components/sections/Technologies/Technologies.astro";
import Layout from "@layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout>
  <main>
    <Navbar redirect={t("site.language.redirect-route")} />
    <Greeting />
    <Technologies />
    <Experience />
    <Social />
    <Footer />
  </main>
</Layout>
