---
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Greeting from "../components/Greeting.astro";
import Social from "../components/Social.astro";
import Technologies from "../components/Technologies.astro";
import Theme from "../components/Theme.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="josesaranda | Welcome">
  <main>
    <Theme />
    <Greeting />
    <Technologies />
    <Experience />
    <Social />
  </main>
  <Footer />
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: auto;
    padding: 16px;
    position: relative;
  }
</style>
<script>
  const audioElement = new Audio("/ding.wav");
  document.querySelectorAll("a").forEach((a) => {
    a.addEventListener("mouseover", () => {
      audioElement.play();
    });
    a.addEventListener("mouseleave", () => {
      // audioElement.pause();
      // audioElement.currentTime = 0;
    });
  });
</script>
