---
import Blog from "@components/Blog/Blog.astro";
import Footer from "@components/layout/Footer/Footer.astro";
import Navbar from "@components/layout/Navbar/Navbar.astro";
import Social from "@components/sections/Social/Social.astro";
import Layout from "@layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout>
  <main>
    <Navbar
      redirect={t("site.language.redirect-route") + "blog"}
      showLogo="true"
      title="Blog"
    />
    <Blog />
    <Social />
    <Footer />
  </main>
</Layout>
