.technologies {
  a {
    display: inline-block;
    margin: var(--spacing-0);
    padding: var(--spacing-0);
    transition: 0.3s;
    font-size: var(--font-0);
  }

  .icon-computer-chip {
    background: var(--c-secondary);
  }
}