.technologies {
  a {
    display: inline-block;
    margin: var(--spacing-0);
    padding: var(--spacing-0);
    font-size: var(--font-0);
    transition: 0.3s;

    &:hover {
      transform: scale(1.25);
      transition: 0.3s;
      color: var(--c-secondary);
    }
  }
}