---
import { t } from "i18next";
import BlogButton from "./BlogButton/BlogButton.astro";
import LanguageButton from "./LanguageButton/LanguageButton.astro";
import { ThemeButton } from "./ThemeButton/ThemeButton";
import "./Navbar.scss";

const { redirect, title, showLogo, showLanguageButton = true } = Astro.props;
---

<div class="navbar">
  <div class="navbar-left">
    {
      showLogo && (
        <a class="navbar-logo" href={t("site.home_url")}>
          <img
            class="navbar-img"
            src="/images/profile.jpeg"
            alt="Profile picture"
            width="48px"
            height="48px"
          />
        </a>
      )
    }
    {title && <h1 class="navbar-title">{title}</h1>}
  </div>
  <div class="navbar-right">
    {showLanguageButton && <LanguageButton redirect={redirect} />}
    {(<BlogButton redirect={redirect} />)}
    <ThemeButton client:load />
  </div>
</div>
