---
const { href, target = "_self" } = Astro.props;
---

<a
  class="bg-gray-500 hover:bg-gray-600 rounded-lg bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-60 hover:bg-opacity-80 p-4 transition-all duration-500 ease-in-out"
  href={href}
  target={target}
>
  <slot />
</a>
