---
const { title, language, slug } = Astro.props;
---

<div class="card">
  <a href={"/blog/" + slug}>
    <h1>{title}</h1>
    <h4>{language === "es" ? "🇪🇸" : "🇬🇧"}</h4>
  </a>
</div>
<style>
  .card {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #efefef;
  }

  .card a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card a:hover {
    transform: scale(1);
  }

  .card h1 {
    font-size: 32px;
    display: inline-block;
  }
</style>
