<h3><span class="emoji">🔬</span> Experience? A bit...</h3>
<p>
  During my short life as engineer I've been involved in many projects with
  different technologies. Here you can see my workaround:
</p>
<section class="experience">
  <div>
    <h4>
      Frontend Engineer at <a href="https://fortris.com" target="_blank"
        >Fortris</a
      >
    </h4>
    <h5 class="dates">Oct. 2021 - actually</h5>
    <p>
      Working with Angular, Nx, NestJS and much more. Developing the best crypto
      asset managment system in the market. Playing with dashboards and Data
      Analytics team.
    </p>
  </div>
  <div>
    <h4>
      Software Engineer at <a href="https://shapelets.io" target="_blank"
        >Shapelets</a>
    </h4>
    <h5 class="dates">May. 2019 - Oct. 2021</h5>
    <p>
      Frontend everywhere. Creating amazings data visualisations user interfaces
      using React, Mobx, Vega, Typescript and so on.
    </p>
  </div>
  <div>
    <h4>
      Software Engineer at <a href="https://sombradoble.es" target="_blank"
        >Sombradoble</a>
    </h4>
    <h5 class="dates">Sept. 2016 - Apr. 2019</h5>
    <p>
      At Sombradoble S.L I worked with the next technologies: NodeJS, Express,
      EJS, Loopback and much more... MySQL and MongoDB databases. Angular,
      AngularMaterial, Bootstrap, HTML, CSS, Javascript and Typescript. I took
      care of the project requirements, structure, execution and maintenance.
    </p>
  </div>
  <div>
    <h4>CTO/Founder at Nowait</h4>
    <h5 class="dates">2015 - 2017</h5>
    <p>
      Co-founder of NoWait S.Coop.And. at NoWait we developed our own product
      called noesperescolas.com, a platform for manage order from copyshops by
      online and security way.
    </p>
  </div>
  <div>
    <h4>
      Intern at <a href="https://sombradoble.es" target="_blank">Sombradoble</a>
    </h4>
    <h5 class="dates">Apr 2016 - Jul 2016</h5>
    <p>
      In this stage at Sombradoble S.L we develop one hybrid mobile app called
      MyLeaf. We develop this app with Ionic Framework. MyLeaf allowed to
      patients with chronic and rare diseases to monitorice their day by day and
      analice the evolution they have along the time having a more knowledge
      about their medicaments ingest, activities they did and food they ate. All
      of this features was served by a server developed with NodeJS which was
      getting data from a SQLServer database.
    </p>
  </div>
</section>
<style>
  .experience div {
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .experience div:not(:last-child) {
    border-bottom: 1px solid var(--c-primary);
  }
</style>
