---
import { t } from "i18next";
const experiences = [
  "fortris",
  "shapelets",
  "sombradoble",
  "nowait",
  "sombradoble-intern",
];
---

<section class="experience">
  <h3><span class="emoji">🔬</span> {t("experience.title")}</h3>
  <p>
    {t("experience.paragraph1")}
  </p>
  {
    experiences.map((experience) => {
      return (
        <div>
          <h4 set:html={t(`experience.experiences.${experience}.title`)} />
          <h5 class="dates">
            {t(`experience.experiences.${experience}.dates`)}
          </h5>
          <p>{t(`experience.experiences.${experience}.description`)}</p>
        </div>
      );
    })
  }
</section>
<style>
  .experience div {
    padding: var(--spacing-2);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
  }
  .experience div:not(:last-child) {
    border-bottom: 1px dotted var(--c-primary);
  }
</style>
