---
import { Trans } from "astro-i18next/components";
---

<footer>
  <Trans i18nKey="footer.title">
    Made with <span id="love">💜</span> from scratch
  </Trans>
</footer>
<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: var(--font-0);
  }
</style>
