<footer>Made with &nbsp;<span id="love">💜</span>&nbsp; from scrach</footer>
<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 20px;
  }
</style>
