<section>
  <header class="header">
    <img src="/images/profile.jpeg" alt="Profile picture" />
    <div class="greeting">
      <h1>Hi! 👋🏽</h1>
      <h2>Jose Sánchez Aranda</h2>
      <h3>Software Engineer - Frontend Engineer</h3>
    </div>
  </header>
  <p>
    Currently I'm working at <a href="https://fortris.com">Fortris</a>, a
    fintech company which his main product is a crypto asset managment system
    where I'm one of the Frontend guys!
  </p>
  <p>
    Technologies like Angular, Nx, NestJS, GraphQL, ... all of them are part of
    my daily bases. But I'm happy to say that I've worked with tons of Frontend
    technologies such as React, NextJS, Loopback, Ionic, Electron, ...
  </p>
  <p>
    Not just that, I'm a curious person and I'm always learning and improving.
    In fact, this web is made with Astro. Have you heard about Astro before?
  </p>
</section>

<style>
  header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  img {
    width: 200px;
    border-radius: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 20px 0px var(--c-secondary);
    -moz-box-shadow: 0px 0px 20px 0px var(--c-secondary);
    box-shadow: 0px 0px 20px 0px var(--c-secondary);
  }

  @media (max-width: 768px) {
    header {
      flex-direction: column;
    }
  }
</style>
