---
const { href, target = "_self", big = false } = Astro.props;
let classes =
  "link inline-block border-green-200 text-green-200 hover:text-green-300 hover:border-green-300 hover:-translate-y-2 transition-all duration-500 ease-in-out";
if (big) classes += " text-2xl";
---

<a class={classes} href={href} target={target} rel="noopener noreferrer">
  <slot />
</a>
<style>
  .link {
    border-bottom: 3px solid;
  }
</style>
