---
import { t } from "i18next";
import { ThemeButton } from "./ThemeButton/ThemeButton";
---

<div class="navbar-container">
  <div>
    <a class="language-button" href={t("site.language.redirect-route")}
      >{t("site.language.flag")}</a
    >
    <ThemeButton client:load />
  </div>
</div>

<style>
  .navbar-container {
    position: fixed;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    top: var(--spacing-7);
  }

  .navbar-container div {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-right: var(--spacing-2);
  }

  a.language-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: var(--spacing-2);
    background: var(--bg-primary);
    color: var(--c-secondary) !important;
    border: 0;
    cursor: pointer;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 20px 0px var(--c-secondary);
    -moz-box-shadow: 0px 0px 20px 0px var(--c-secondary);
    box-shadow: 0px 0px 20px 0px var(--c-secondary);
    font-size: var(--font-1);
    width: 48px;
    height: 48px;
  }

  a.language-button:hover {
    transform: scale(1);
  }

  @media (max-width: 768px) {
    a.language-button {
      width: 42px;
      height: 42px;
      font-size: var(--font-0);
      margin-right: var(--spacing-7);
    }

    .navbar-container div {
      flex-direction: column-reverse;
      justify-content: end;
      align-items: end;
    }
  }
</style>
