---
import { t } from "i18next";

const technologies = [
  {
    href: "https://developer.mozilla.org/en/docs/Web/JavaScript",
    name: "Javascript",
  },
  {
    href: "https://www.typescriptlang.org/",
    name: "Typescript",
  },
  {
    href: "https://developer.mozilla.org/en/docs/Web/HTML",
    name: "Html",
  },
  {
    href: "https://developer.mozilla.org/en/docs/Web/CSS",
    name: "Css",
  },
  {
    href: "http://lesscss.org/",
    name: "Less",
  },
  {
    href: "https://sass-lang.com/",
    name: "Sass",
  },
  {
    href: "https://webpack.js.org/",
    name: "Webpack",
  },
  {
    href: "https://babeljs.io/",
    name: "Babel",
  },
  {
    href: "https://es.reactjs.org/",
    name: "React",
  },
  {
    href: "https://angular.io/",
    name: "Angular",
  },
  {
    href: "https://ionicframework.com/",
    name: "Ionic",
  },
  {
    href: "https://www.electronjs.org/",
    name: "Electron",
  },
  {
    href: "https://getbootstrap.com/",
    name: "Bootstrap",
  },
  {
    href: "https://ant.design/",
    name: "AntDesign",
  },
  {
    href: "https://material.io/design",
    name: "Material Design",
  },
  {
    href: "https://momentjs.com/",
    name: "momentJS",
  },
  {
    href: "https://vega.github.io/vega/",
    name: "Vega",
  },
  {
    href: "https://echarts.apache.org/en/index.html",
    name: "Echarts",
  },
  {
    href: "https://www.chartjs.org/",
    name: "Chart.js",
  },
  {
    href: "https://ejs.co/",
    name: "EJS",
  },
  {
    href: "https://nodejs.org/es/",
    name: "NodeJS",
  },
  {
    href: "https://expressjs.com/es/",
    name: "Express",
  },
  {
    href: "https://nodemailer.com/about/",
    name: "Nodemailer",
  },
  {
    href: "https://core.telegram.org/bots",
    name: "Telegram-bot",
  },
  {
    href: "https://socket.io/",
    name: "Socket.io",
  },
  {
    href: "https://strapi.io/",
    name: "Strapi",
  },
  {
    href: "https://loopback.io/",
    name: "Loopback",
  },
  {
    href: "https://nestjs.com/",
    name: "NestJS",
  },
  {
    href: "https://nextjs.org/",
    name: "NextJS",
  },
  {
    href: "https://jwt.io/",
    name: "JWT",
  },
  {
    href: "https://www.python.org/",
    name: "Python",
  },
  {
    href: "https://www.djangoproject.com/",
    name: "Django",
  },
  {
    href: "https://www.mongodb.com/es",
    name: "MongoDB",
  },
  {
    href: "https://www.mysql.com/",
    name: "MySQL",
  },
  {
    href: "https://www.apache.org/",
    name: "Apache",
  },
  {
    href: "https://www.nginx.com/",
    name: "Nginx",
  },
  {
    href: "https://jestjs.io/",
    name: "Jest",
  },
];
---

<section>
  <h3><span class="emoji">🧑🏻‍💻</span> {t("technologies.title")}</h3>
  <div class="technologies">
    {
      technologies.map(({ href, name }) => (
        <a href={href} target="_blank">
          {name}
        </a>
      ))
    }
  </div>
</section>
<style>
  .technologies a {
    margin: 4px;
    display: inline-block;
    padding: 4px;
    transition: 0.3s;
    font-size: var(--font-0);
  }
</style>
