<div class="button-container">
  <button id="themeButton"></button>
</div>
<script>
  const button = document.getElementById("themeButton");

  function setMode(isDark: boolean) {
    button!.innerHTML = `<span class='emoji small'>${
      isDark ? "🌞" : "🌙"
    }</span>`;
    isDark
      ? document.body.classList.add("dark")
      : document.body.classList.remove("dark");

    document.getElementById("love")!.innerHTML = isDark ? "💚" : "💜";
  }

  let preferredDarkMode =
    window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: dark)").matches;

  setMode(preferredDarkMode);

  button?.addEventListener("click", () => {
    preferredDarkMode = !preferredDarkMode;
    setMode(preferredDarkMode);
  });

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      preferredDarkMode = event.matches;
      setMode(preferredDarkMode);
    });
</script>

<style>
  .button-container {
    position: fixed;
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  button {
    position: absolute;
    top: 32px;
    right: 16px;
    margin-right: 16px;
    color: var(--c-secondary);
    background: var(--bg-secondary);
    border: 0;
    cursor: pointer;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 20px 0px var(--c-secondary);
    -moz-box-shadow: 0px 0px 20px 0px var(--c-secondary);
    box-shadow: 0px 0px 20px 0px var(--c-secondary);
    font-size: 20px;
    width: 72px;
    height: 72px;
  }

  @media (max-width: 768px) {
    button {
      width: 60px;
      height: 60px;
    }
  }
</style>
<style is:global>
  body {
    --c-primary: #000;
    --c-secondary: #7b6ab8;
    --bg-primary: #fff;
    --bg-secondary: #000;

    color: var(--c-primary);
    background: var(--bg-primary);
    transition: 0.5s all;
  }

  body.dark {
    --c-primary: #fff;
    --c-secondary: #70a2a0;
    --bg-primary: #111011;
    --bg-secondary: #fff;
  }
</style>
