---
import "./BlogButton.scss";
---

<a id="blog-button" class="blog-button">
  <span class="icon icon-small icon-blog"></span>
</a>
<script>
  const blogLink = document.getElementById("blog-button")!;

  const isSpanish = document.location.pathname.startsWith("/es");
  blogLink.setAttribute("href", isSpanish ? "/es/blog" : "/blog");
</script>
