.blog {
  display: flex;
  gap: var(--spacing-3);

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .blog-link {
    text-decoration: none;

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}