.footer {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-3);
  font-size: var(--font-0);
  padding: var(--spacing-3);
  background: var(--c-primary-800);
  color: var(--c-primary-200);

  a:hover {
    transform: scale(1) !important;
  }

  .icon-heart {
    background: var(--c-secondary);
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}