---
import { t } from "i18next";
const { redirect } = Astro.props;
---

<a class="button" href={redirect}>
  <span class="icon icon-small icon-language secondary"></span>
  <span class="flag">{t("site.language.flag")}</span>
</a>
