a.language-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--c-secondary) !important;
  border: 0;
  cursor: pointer;
  font-size: var(--font-1);
  width: 48px;
  height: 48px;
  background: var(--c-primary-800);
  border-radius: 10px;

  &:hover {
    transform: scale(1);

    .flag {
      opacity: 1;
      transition: .5s all;
    }
  }

  @media (max-width: 768px) {
    width: 42px;
    height: 42px;
    font-size: var(--font-0);
  }

  .flag {
    position: absolute;
    opacity: 0;
    transition: .5s all;
    font-size: 32px;
    text-shadow: 0px 0px 10px var(--c-primary);
  }

  .icon.icon-language {
    position: absolute;
    opacity: 1;
    transition: .5s all;
    background: var(--c-secondary);
  }
}