@import "./variables.css";
@import "./typography.css";

html {
  font-family: system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--c-primary);
  background: var(--bg-primary);
  transition: 0.5s all;
}

main {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: var(--spacing-3);
}

/* fonts */

.paragraph {
  margin-top: 0;
  margin-bottom: var(--spacing-2);
  font-size: var(--font-0);
  line-height: 32px;
}

.heading-1 {
  font-size: var(--font-5);
}

.heading-2 {
  font-size: var(--font-5);
  margin-bottom: var(--spacing-0);
}

.heading-3 {
  font-size: var(--font-2);
  margin-bottom: var(--spacing-1);
}

.heading-4 {
  font-size: var(--font-1);
  margin-bottom: var(--spacing-0);
}

.heading-5 {
  font-size: var(--font-0);
  margin-top: 0px;
  margin-bottom: var(--spacing-0);
}

/* links */

a {
  color: var(--c-primary);
}

a:hover {
  transform: scale(1.25);
  transition: 0.3s;
  color: var(--c-secondary);
}

/* others */

section {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

span.emoji {
  font-size: var(--font-4);
  vertical-align: middle;
}

span.emoji.small {
  font-size: var(--font-3);
}

@media (max-width: 768px) {
  span.emoji.small {
    font-size: var(--font-2);
  }
}