@import "./variables.css";
@import "./typography.css";
@import "./icons.scss";

html {
  font-family: system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-primary);
  color: var(--c-primary-50);
  transition: 0.5s all;
}

main {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: var(--spacing-3);
}

/* fonts */

.paragraph {
  margin-top: 0;
  margin-bottom: var(--spacing-2);
  font-size: var(--font-0);
  line-height: 32px;
  color: var(--c-primary-100);
}

.heading-1 {
  font-size: var(--font-5);
  color: var(--c-primary);
}

.heading-2 {
  font-size: var(--font-5);
  margin-bottom: var(--spacing-0);
  color: var(--c-primary);
}

.heading-3 {
  font-size: var(--font-2);
  margin-bottom: var(--spacing-1);
  color: var(--c-primary-50);
}

.heading-4 {
  font-size: var(--font-1);
  margin-bottom: var(--spacing-0);
  color: var(--c-primary-50);
}

.heading-5 {
  font-size: var(--font-0);
  margin-top: 0px;
  margin-bottom: var(--spacing-0);
  color: var(--c-primary-100);
}

/* links */

a {
  color: var(--c-primary-100);
}

a:hover {
  transform: scale(1.25);
  transition: 0.3s;
  color: var(--c-secondary);
}

/* others */

section {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}
