:root {
  --c-primary: #000;
  --c-primary-50: #1a1a1a;
  --c-primary-100: #333333;
  --c-primary-200: #4d4d4d;
  --c-primary-300: #666666;
  --c-primary-400: #808080;
  --c-primary-500: #999999;
  --c-primary-600: #b3b3b3;
  --c-primary-700: #cccccc;
  --c-primary-800: #e6e6e6;
  --c-primary-900: #fff;

  --c-secondary: #7b6ab8;
  --c-secondary-50: #8879bf;
  --c-secondary-100: #9588c6;
  --c-secondary-200: #a397cd;
  --c-secondary-300: #b0a6d4;
  --c-secondary-400: #bdb5dc;
  --c-secondary-500: #cac3e3;
  --c-secondary-600: #d7d2ea;
  --c-secondary-700: #e5e1f1;
  --c-secondary-800: #f2f0f8;
  --c-secondary-900: #fff;

  --bg-primary: #fff;
  --bg-secondary: #000;

  --font-0: 20px;
  --font-1: 24px;
  --font-2: 28px;
  --font-3: 36px;
  --font-4: 48px;
  --font-5: 60px;

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 50px;
}

:root .dark {
  --c-primary: #fff;
  --c-primary-50: #e6e6e6;
  --c-primary-100: #cccccc;
  --c-primary-200: #b3b3b3;
  --c-primary-300: #999999;
  --c-primary-400: #808080;
  --c-primary-500: #666666;
  --c-primary-600: #4c4c4c;
  --c-primary-700: #333333;
  --c-primary-800: #191919;
  --c-primary-900: #000000;

  --c-secondary: #70a2a0;
  --c-secondary-50: #7eabaa;
  --c-secondary-100: #8db5b3;
  --c-secondary-200: #9bbebd;
  --c-secondary-300: #a9c7c6;
  --c-secondary-400: #b8d1d0;
  --c-secondary-500: #c6dad9;
  --c-secondary-600: #d4e3e3;
  --c-secondary-700: #e2ecec;
  --c-secondary-800: #f2f0f8;
  --c-secondary-900: #f1f6f6;

  --bg-primary: #111011;
  --bg-secondary: #fff;
}
