/* Blog */

.blog {
  display: grid;
  gap: 10px;
  grid-template-areas: "a a a";
}

@media (max-width: 768px) {
  .blog {
    grid-template-areas: "a";
    margin-right: 60px;
  }
}

/* Post */

.post h1 {
  margin-bottom: 10px;
}

.post h2 {
  margin-bottom: 10px;
  font-size: 30px;
}