---
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import "@theming/main.css";

const { title, description } = Astro.props;

//dummy comment
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta
      name="description"
      content={description ? description : t("site.description")}
    />
    <title>{title ? title : t("site.title")}</title>
    <HeadHrefLangs />
  </head>
  <body>
    <slot />
  </body>
</html>
