.theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: var(--c-primary-800);
  border-radius: 10px;

  @media (max-width: 768px) {
    width: 42px;
    height: 42px;
    font-size: var(--font-0);
  }

  .icon-moon,
  .icon-sun {
    background: var(--c-secondary);
  }
}